body {
    font-family: "MS PGothic", monospace;
    background: #efefef;
}

textarea {
    width: 100%;
    height: 80px;
}

.thread {
    background: #fff;
    border: 1px solid #999;
    margin: 10px 0;
    padding: 5px;
}

.res {
    border-top: 1px dotted #999;
    margin-top: 5px;
    padding-top: 5px;
}

.time {
    color: #666;
    font-size: 12px;
}